<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_tvshow/css/style.css' %}">    
    <script src="{% static 'first_tvshow/js/script.js' %}"></script>
    <title>Document</title>

</head>
<body>
<h1>Add a New Show</h1>
<form action="/create" method="POST">
    {% csrf_token%}
<p>Title</p>
<input type="text" name='title'>
<p>Network</p>
<input type="text" name='network'>
<p>Release Date</p>
<input type="date" name="release">
<p>Description</p>
<textarea name="desc"></textarea>
<input type="submit" value="Create">
</form>
{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
<a href="/shows">Go Back</a>
</body>
</html>