<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_tvshow/css/style.css' %}">    
    <script src="{% static 'first_tvshow/js/script.js' %}"></script>
    <title>Document</title>

</head>
<body>
<h1>TV Show {{id}}</h1>
<p>Title:{{title}}</p>
<p>Network:{{network}}</p>
<p>Release Date: {{ release}}</p>
<p>Description: {{desc}}</p>
<p>Last Updated: {{last_update}}</p>
<a href="/shows/{{id}}/edit">Edit</a>
<a href="/delete/{{id}}">Delete</a>

<a href="/shows">Go Back</a>
</body>
</html>