<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/pick" method='POST'>
        <input type="hidden" name='choice' value = "1">
        <input type="submit" name="rock">rock</button>       
    </form>
    <form action="/pick" method='POST'>
        <input type="hidden" name='choice' value = "2">
        <input type="submit" name="paper">paper</button>
    </form>
    <form action="/pick" method='POST'>
        <input type="hidden" name='choice' value = "3">
        <input type="submit" name="scissors">scissors</button>
    </form>
    
</body>
</html>