<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">    
    <script src="{% static 'login/js/script.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <a class="btn btn-primary" href="/group" role="button">Dashboard</a>
    <form action='/group/logout' method="POST">
        {% csrf_token%}
        <button type="submit" class="btn btn-danger">Logout</button>
        </form>

<h1>{{organization.name}}</h1>
<form action='{{organization.id}}/join_leave' method="POST">
    {% csrf_token%}
    <button type="submit" class="btn btn-primary">Join/Leave</button>
    </form>
<!-- {% if userx in members %}
<form action='{{organization.id}}/leave' method="POST">
    {% csrf_token%}
    <button type="submit" class="btn btn-danger">Leave Group</button>
    </form>
    {%endif%}
    {% if userx not in members %}
<form action='{{organization.id}}/join' method="POST">
    {% csrf_token%}
    <button type="submit" class="btn btn-primary">Join Group</button>
    </form>
    {%endif%} -->
<p>{{organization.description}}</p>
<br>
<br>
{% if organization.user.id != id %}
<h2>Create by: {{organization.user.first_name}} {{organization.user.last_name}}</h2>
{%endif%}
{% if organization.user.id == id %}
<h2>Create by: You</h2>
{%endif%}
<h2>Members:</h2>
<ul>
{% for member in members %} 
<li>{{member.first_name}} {{member.last_name}}</li>
{%endfor%}
</ul>
</body>
</html>