<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <form action='/result' method='post'>
        your Name: <input type='text' name='name'>
        Dojo Location: 
        <select name='state'>
            <option type='radio'  value="Seattle">Seattle</option>
            <option type='radio' value="Texas-dallas">Texas-dallas</option>
            <option type='radio' value="chinese">chinese</option>
            <option type='radio' value="Vietnam">Vietnam</option>
        </select>
        Favorite Language: 
        <select name='language'>
            <option type='radio' value="C#">C#</option>
            <option type='radio' value="python">python</option>
            <option type='radio' value="java">java</option>
            <option type='radio' value="c++">c++</option>
        </select>
        Comment(optional):
        <textarea type='message' name='comment' rows="4" cols="50">
        </textarea>
        <input type='submit' value='Button'>           
    </form>
    </div>
</body>
</html>