body{
    text-align: center
}
.box{
width: 200px;
height: 100px;
color: white;
padding-top: 90px;
font-size: 30px;
display: inline-block;
border: black solid 10px;
}

.red{
background-color: red;
}

.green{
background-color: green;
}