<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">    
    <script src="{% static 'books_authors_app/js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>{{first}}{{last}}</h1>
    <p> ID: {{id}}</p>
    <p>Notes: {{note}}</p>
    {%for name in books%}
    <p>Books: {{name.title}}</p>
    {%endfor%}
    <form action="/update_author" method="POST">
        {% csrf_token%}
        <input type="hidden" name =idauthor value="{{id}}">
        <select name="idbook">
            {%for name in all_books%}
            <option value="{{name.id}}">{{name.title}}</option>
            {%endfor%}
            <input type="submit" value="Add">
        </select>
    </form>
</body>
</html>