<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/css/style.css' %}">    
    <script src="{% static 'books_authors_app/js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p> ID: {{id}}</p>
    <p>Description: {{desc}}</p>
    {%for name in authors%}
    <p>Authors: {{name.first_name}} {{name.last_name}}</p>
    {%endfor%}
    <form action="/update_book" method="POST">
        {% csrf_token%}
        <input type="hidden" name =idbook value="{{id}}">
        <select name="idauthor">
            {%for name in all_authors%}
            <option value="{{name.id}}">{{name.first_name}} {{name.last_name}}</option>
            {%endfor%}
            <input type="submit" value="Add">
        </select>
    </form>
</body>
</html>