<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="left">
    <h2>{{name}}</h2>
    <label>Count: </label>{{request.session.count}}
    {% for quote in quotes %} 
    <p>{{quote.author}} : {{quote.quote}}</p>
    {%endfor%}
    </div>  
    <div class="right">
        <a href="/quote">Dashboard</a> <a href="/quote/logout">Log Out</a>
    </div>
</body>
</html>