<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        div{
            text-align: center;
            vertical-align: top;
        }
        div.blue{
            background-color: aqua;
            width: 200px;
            height: 200px;
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div>
        <div class="blue"></div>
        <div class="blue"></div>
        <div class="blue"></div>
    </div>
</body>
</html>