div.box{
    text-align: center;

}
div.box1{
    text-align: center;
    padding: 20px;

}
h3{
    display: inline-block;
}
h1{
    border: black solid 10px;
    display: inline-block;
    width: 400px;
    height: 100px;
}
form{
    text-align: center;
}
button{
    display: inline-block;
}