<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .right{
            text-align: right;        
            }
        .inch{
            margin-left: 60px;
        }
        .box{
            border: black solid 1px;
        }
    </style>
</head>
<body>
    <div>
        <div>
        <h1>Coding Dojo Wall</h1>
        </div>
        {% if 'username' in request.session %}
        <div>
        <h2>Welcome, {{first}}!!!</h2>
        <a href="/wall/logout">Log Out</a>
        </div>
        {%endif%}
    </div>
    {% if 'username' in request.session %}
    <div>
        <h3>Post a message</h3>
        <form action="post_message" method="POST">
            {% csrf_token%}
            <input type="hidden" name="idnumber" value="{{idnumber}}">
            <input type="text" name="message">
            <input type="submit" class="right" value="Post a message">
        </form>
    </div>
    {%endif%}
    <div>
        {% for message in messages %} 
        <div class="box">
        <h4>{{message.user.username}} posted at {{message.created_at}}</h4>   
            <p>{{message.message}}</p>
            <form action="delete_message/{{message.id}}" method="POST">
                {% csrf_token%}
                <input type="submit" class="right" value="DELETE">
            </form>
            <div class="inch">
            {%for comment in comments %}
            {% if comment.message.id == message.id %}
            <h4>{{comment.user.username}} posted at {{comment.created_at}}</h4>   
            <p>{{comment.comment}}</p>
            <form action="delete_comment/{{comment.id}}" method="POST">
                {% csrf_token%}
            <input type="submit" class="right" value="DELETE">
            </form>
            {%endif%}
            {%endfor%}
            </div>
            {% if 'username' in request.session %}
            <div class="inch">
                <form action="post_comment" method="POST">
                    {% csrf_token%}
                    <input type="hidden" name="idmessage" value="{{message.id}}">
                    <input type="text" name="comment">
                    <input type="submit" class="right" value="Post a comment">
                </form>
            </div>
            {%endif%}
        </div>
        {%endfor%}
    </div>
</body>
</html>