<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    {% for x in range(4):%}
    <div>
        <div>
            {% for x in range(4):%}
            <div class="box red"></div>
            <div class="box black"></div>
            {%endfor%}
        </div>
        <div>
            {% for x in range(4):%}
            <div class="box black"></div>
            <div class="box red"></div>
            {%endfor%}
        </div>
    </div>
    {%endfor%}
</body>
</html>